<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.0.0" targetFramework="net46" />
  <package id="MapSuiteDependency-LizardTechMrSid" version="10.0.0.0" targetFramework="net46" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.0.0" targetFramework="net46" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.0" targetFramework="net46" />
  <package id="MapSuiteDesktopForWinForms-BareBone" version="10.0.308.1" targetFramework="net46" />
  <package id="ThinkGeo.MapSuite" version="10.0.308.1" targetFramework="net46" />
  <package id="ThinkGeo.MapSuite.Layers.MrSid" version="10.0.308.1" targetFramework="net46" />
</packages>